body {
    text-align: center;
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: blue;
}
header img {
    height: 50px;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin: 0 10px;
}
nav ul li :hover {
    text-decoration: underline;
}
nav ul li a {
    color: black;
    text-decoration: none;
}

/*WELCOME*/
.welcomeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15%;
    text-align: center;
    background-color: #f8f9fa; 
}
.largeText {
    font-size: 12vw; /* Very large text */
    margin: 0;
    color:blue;
}
.smallText {
    font-size: 4vw; /* Smaller text */
    margin: 2%;
    color: blue; 
}
.container {

}